body {
    margin: 0;
    padding-top: 0; 
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  h1, h2 {
    color: #333;
  }
  
  .container {
    padding: 20px;
  }
  .hover-shadow {
    transition: all 0.3s ease-in-out;
  }
  
  .hover-shadow:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  }
  .breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    color: #6c757d;
  }
  .object-fit-cover {
    object-fit: cover;
  }
  .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  }
  .modal-backdrop {
    opacity: 0.5 !important;
}

.modal-content {
    border-radius: 10px;
}

.modal-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
